<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">Tracker</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- For web -->
    <div class="taskCreated">
        <a id="going"><button class="onWeb" (click)="myOnGoingTask()">
            <ion-icon name="refresh-circle-outline"></ion-icon>
            On Going
        </button></a><br><br>
        <a id="completed"><button class="onWeb" (click)="completedTasks()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            Completed
        </button></a><br><br>
        <a id="reject"><button class="onWeb" (click)="rejectedTasks()">
            <ion-icon name="close-circle-outline"></ion-icon>
            Rejected
        </button></a>
    </div>
    <!-- Icon top -->
    <ion-segment color="secondary" style="position: fixed; background-color: rgb(253, 253, 253);">
        <ion-segment-button class="topnavButton" value="call" (click)="myOnGoingTask()">
            <ion-label> On Going</ion-label>
            <ion-icon name="refresh-circle-outline"></ion-icon>
        </ion-segment-button>

        <ion-segment-button class="topnavButton" value="favorite" (click)="completedTasks()">
            <ion-label>Completed</ion-label>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-segment-button>


        <ion-segment-button class="topnavButton" value="map" (click)="rejectedTasks()">
            <ion-label>Rejected</ion-label>
            <ion-icon name="close-circle-outline"></ion-icon>

        </ion-segment-button>
    </ion-segment>
    <div class="listOfAcceptedJobs" *ngFor="let value of onGoingJob; let i = index">
        <ul>
            <p class="customerName"> {{value.data.customer}} </p>
            <li> {{value.data.email}} </li>
            <li>{{value.data.jobTitle}}</li>
            <li> {{value.data.location}} </li>
            <li> {{value.data.notes}} </li>
            <li> {{value.data.phone}} </li>
            <li> {{value.data.rate}} </li>
            <li> {{value.data.schedule}} </li><br>
            <button *ngIf="completedTask" id="deleteTask" class="onMobile">Delete Completed Task</button>
            <button *ngIf="!completedTask" (click)="alreadyDoneTask(i)" class="onMobile">Finish Service!</button>
            <br><br>
        </ul>
    </div>
    <div class="taskShow" *ngIf="noTaskShow">
        <h1>No task to show</h1>
    </div>
</ion-content>