<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Notification Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="notifSettings">
    <ion-list>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title> -->
        <ion-item>To clear one notification, swipe it left or right.
            To clear all notifications, scroll to the bottom of your notifications and tap Clear all.
            To clear all silent notifications, next to "silent notifications," tap Close
            Tip: You can clear some notifications only when they're done. For example, you can clear a music player
            notification after you stop the music.</ion-item>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="danger" (click)='ClosePopover()'>ok</ion-button>
            </ion-col>
        </ion-row>

    </ion-list>


</ion-content>