@import "../global.scss";
* {
    font-family: lato;
}

.menu-header-bg {
    height: 180px;
    width: 340px;
    background: skyblue;
    background: linear-gradient(90deg, hsla(199, 100%, 50%, 0.71) 0%, skyblue 100%);
    box-shadow: 0px 1px 10px rgb(21, 160, 224);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        border: 7px solid rgb(21, 160, 224);
        margin-top: 10px !important;
    }
    h2 {
        font-weight: normal;
        margin-left: 5px;
        font-size: 24px;
        color: rgb(49, 50, 51);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p {
        font-size: 12px;
        color: rgb(97, 97, 97);
        font-weight: 400;
        letter-spacing: 0.4px;
        margin-left: 2px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.menu-items {
   
    margin: 0px;
    ion-icon {

        margin-left: 10px;
        color: rgb(72, 76, 80);
        position: absolute;
        font-size: 25px;
    }
    ion-item {
        font-family: lato !important;
        padding-left: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        transition: 0.2s;
        color:rgb(80, 77, 77);
    }
    ion-label {
        margin-left: 50px;
        font-weight: normal;
    }
}

ion-item.item:hover div {
    background-color: rgb(132, 210, 241) !important;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
.serve {
    text-align: center;
}