@import "../../../global.scss";
* {
    font-family: lato;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}
ion-content ion-segment {
    margin: 5px 0;
  }


ion-card{
    height: 20%;
    text-align: center;
}

ion-item.item:hover div {
    background-color: skyblue !important;
    color: white;
    width: 100%;
    padding: 10px;
}
.statistics {
    height: 100%;
}
.charts {
    height: 100%;
}