<ion-content class="background">
    <div class="web"></div>

    <div class="mobile">
        <div class="container">
            <img alt="logo" id="header_logo" height="100" float-left src="assets/images/logo.png"><br>
            <strong><h1>Ms.Q Artisans</h1></strong>
            <p>We serve at your pleasure</p>
        </div>
        <div class="container2">
            <div class="spinner">
                <ion-spinner *ngIf="show" class="loader"></ion-spinner>
            </div>

        </div>
    </div>


</ion-content>