<ion-content class="background">

    <body>
        <div id="container">
            <center><img alt="logo" id="header_logo" height="100" float-left src="assets/images/logo.png"><br></center>
        </div>
        <div id="container1">
            <strong><h1>Ms.Q Artisans</h1></strong>
            <p>We serve at your pleasure</p>
        </div>
        <div id="container2">
            <span class="divider line one-line"></span>
            <center>
                <ion-spinner *ngIf="show" class="loader"></ion-spinner>
            </center>
        </div>
    </body>
  
  </ion-content>
  