@import "../../global.scss";
ion-content {
    width: 100%;
}

div.web {
    background: url('../../assets/images/Conference.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

div.mobile {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
}

#header_logo {
    background-color: white;
    border-radius: 60%;
    padding: 8px;
    width: 150px;
    height: 140px;
    border: 4px solid #22bbea8f;
}

.container strong {
    font-size: 40px;
    line-height: 26px;
    font-family: 'Times New Roman', Times, serif;
}

.container2 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 17%;
}

p {
    width: 65%;
    margin-left: 18%;
    margin-right: 35%;
}

.spinner {
    margin-top: -27%;
}

.container {
    text-align: center;
    margin-top: 15%;
}

@media (max-width: 767.98px) {
    // for mobile
    ion-content.background {
        --background: url(../../assets/images/Conference.png) 0 0/100% 43% no-repeat;
    }
    div.web {
        width: 0;
    }
    div.mobile {
        width: 100%;
    }
    .container {
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 39%;
        transform: translateY(-50%);
    }
    .container strong {
        font-size: 35px;
    }
    h1 {
        margin-top: 2%;
    }
    p {
        width: 72%;
        margin-right: 20%;
        margin-left: 13%;
    }
    #header_logo {
        border: 4px solid #22bbea8f;
        margin-bottom: 10px;
    }
    .container2 {
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 81%;
        transform: translateY(-50%);
        margin-left: 20%;
        margin-right: 20%;
    }
    .spinner {
        margin-top: -54%;
    }
}

// @media only screen and (min-width: 768px) {
//     // for Ipad
//     .container {
//         margin-top: 57%;
//     }
// }
.loader {
    margin: 50% auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #15cbf9, 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.5), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.7), 1.8em -1.8em 0 0em #15cbf9, 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.5), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.7), 2.5em 0em 0 0em #15cbf9, 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.5), 2.5em 0em 0 0em rgba(21, 203, 249, 0.7), 1.75em 1.75em 0 0em #15cbf9, 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.5), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.7), 0em 2.5em 0 0em #15cbf9, -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.5), 0em 2.5em 0 0em rgba(21, 203, 249, 0.7), -1.8em 1.8em 0 0em #15cbf9, -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.5), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.7), -2.6em 0em 0 0em #15cbf9, -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.5), -2.6em 0em 0 0em rgba(21, 203, 249, 0.7), -1.8em -1.8em 0 0em #15cbf9;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #15cbf9, 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.5), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.7), 1.8em -1.8em 0 0em #15cbf9, 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.5), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.7), 2.5em 0em 0 0em #15cbf9, 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.5), 2.5em 0em 0 0em rgba(21, 203, 249, 0.7), 1.75em 1.75em 0 0em #15cbf9, 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.5), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.7), 0em 2.5em 0 0em #15cbf9, -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.2), -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.5), 0em 2.5em 0 0em rgba(21, 203, 249, 0.7), -1.8em 1.8em 0 0em #15cbf9, -2.6em 0em 0 0em rgba(21, 203, 249, 0.2), -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.5), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.7), -2.6em 0em 0 0em #15cbf9, -1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(21, 203, 249, 0.2), 1.8em -1.8em 0 0em rgba(21, 203, 249, 0.2), 2.5em 0em 0 0em rgba(21, 203, 249, 0.2), 1.75em 1.75em 0 0em rgba(21, 203, 249, 0.2), 0em 2.5em 0 0em rgba(21, 203, 249, 0.2), -1.8em 1.8em 0 0em rgba(21, 203, 249, 0.5), -2.6em 0em 0 0em rgba(21, 203, 249, 0.7), -1.8em -1.8em 0 0em #15cbf9;
    }
}