
<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">User Ratings</ion-title>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/settings']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-card>
      <ion-card-header>
        <center> <img src="assets/images/rating.png" alt="" class="rate"></center>
      </ion-card-header>
      <center>
      <ion-card-content>
          <span class="ratingLabel">{{rating}} %</span><br>
        <div class="content">
          <h3>Overall Rating Average</h3>
        </div>
          
      </ion-card-content>
    </center>

    </ion-card>
  </ion-content>
  