@import "../../../global.scss";
* {
    font-family: lato;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

img{
    width: 40px;
    height: 40px;
    margin: 15px;    
}

span{
    font-weight: lighter;
    font-size: 18px;
}

p{
    font-size: 20px;
    font-weight: lighter;
}
section{
    float: right;
    text-align: right;
}

