<ion-menu side="start" content-id="main-content" >
  <ion-content >
      <div class="menu-header-bg"></div>
      <div class="header-content">
          <img src="assets/images/logo.png" alt="">
          <ion-label>
              <h2>Ms.Q Artisans</h2>
              <p class="serve">We serve at your pleasure</p>
          </ion-label>
      </div>

      <ion-list lines="none" class="menu-items">
          <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['/side-bar/job-orders']">
                  <div>
                      <ion-icon name="cart-outline"></ion-icon>
                      <ion-label>Job Order</ion-label>
                  </div>
              </ion-item>
              <ion-item [routerLink]="['/side-bar/tracker']">
                  <div>
                      <ion-icon name="analytics-outline"></ion-icon>
                      <ion-label>Tracker</ion-label>
                  </div>
              </ion-item>
              <ion-item [routerLink]="['/side-bar/finance']">
                  <div>
                      <ion-icon name="wallet-outline"></ion-icon>
                      <ion-label>Finance</ion-label>
                  </div>
              </ion-item>
              <ion-item [routerLink]="['/side-bar/livechat']">
                  <div>
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                      <ion-label>Live Chat</ion-label>
                  </div>
              </ion-item>
              <ion-item [routerLink]="['/side-bar/settings']">
                  <div>
                      <ion-icon name="settings-outline"></ion-icon>
                      <ion-label>Settings</ion-label>
                  </div>
              </ion-item>
              <ion-item (click)="logout()" [routerLink]="['/home']">
                  <div>
                      <ion-icon name="log-out-outline"></ion-icon>
                      <ion-label>Logout</ion-label>
                  </div>
              </ion-item>
          </ion-menu-toggle>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content" main>

</ion-router-outlet>