@import "../../../global.scss";
* {
    font-family: lato;
}
.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

ion-icon{
    margin-right: 2%;
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color:rgb(255, 81, 0);
    }
    
    
    
    @keyframes floating {
    from { transform: translate(0, 0px); }
    65% { transform: translate(0, 5px); }
    to { transform: translate(0, -0px); }
    }

h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: black;
}
h3 {
    margin-top: 3px;
    font-size: 18px;
}
span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 7px;
}
.jobPoster {
    width: 100%;
    text-align: center;
}
section {
    margin-bottom: 5px;
}
button {
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: rgb(92, 92, 92);
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    width: 97%;
}
.buttonAccept {
    background-color: rgb(60, 223, 87);
}
.buttonAccept:active {
    background-color: rgb(54, 153, 71);
}
.buttonPass {
    background-color: rgb(255, 107, 107);
    color: rgb(235, 235, 235);
}
.buttonPass:active {
    background-color: rgb(167, 63, 63);
}
.cardContent {
    width: 40%;
    margin-left: 3%;
}
.full-width {
    text-align: center;
    width: 100%;
}
.barrier {
    margin-top: 5%;
}
.map {
    float: right;
    position: fixed;
    margin-left: 45%;
}
.location {
    display: none;
}
.toolbar {
    width: 41%;
    margin-left: 2%;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .toolbar {
        width: 100%;
        margin: 0;
    }
    .cardContent {
        width: 100%;
        margin: 0;
    }
    .barrier {
        display: none;
    }
    .full-width {
        width: 100%;
    }
    .location {
        display: block;
    }
    .map {
        display: none;
    }
  }