@import "../../../global.scss";
* {
    font-family: lato;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

div{
    padding: 5%;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, lato;
    margin-bottom: -20px;
}
h2{
    color: rgb(40, 150, 194);
}
.terms{
    width: 120px;
    height: 120px;
    margin-top: 5%;
}