<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">Artisans Privacy Policy</ion-title>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/settings']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> 

<ion-content>
    <div class="1">
        Please read our privacy policy carefully before using Artisans’ services.<br>
        We collect and store information from our clients when you submit it to us,
        when you allow third-parties to submit your information to us, and when we 
        store data from your conduct using our platform or agency.<br>
        The data you provide may include, but not limited to name, email address, 
        phone number, work or business address, official ID information, business 
        registration, photos of yourself, photos of your business, photos of your 
        business archives, bank account information, educational attainment, and 
        professional encounters and references. Some features of our platform cannot 
        be accessed without certain data being given.
    </div>
    <div class="2">
        <h2>Information from third parties:</h2>
        We may collect data from third-parties about you. For example, we permit users 
        to log in using a Facebook account. When you log in to Facebook, we may gather 
        some information that you allow us to obtain from Facebook like your name, email address, 
        gender, friends’ list, location, likes and posts you shared, and many more.
    </div>
    <div class="3">
        <h2>Other data collected:</h2>
        We use following data like Google Analytics and Facebook Pixel. These tracking tools 
        use cookies to collect information about their users that help us with our business.
         The information may include to browser history, operating system, access time, 
         entrance/exit pages and site visits. We may utilize the data we collected to 
         help with our decisions about what things or ads to show you. Additionally, 
         we may use geolocation from your IP address or phone location data to focus on 
         specific highlights and services for a client. If you disable your GPS on your 
         phone, this may limit some features of our app.
    </div>
    <div>
        <h2>How Artisans uses information we collected:</h2>
        How Artisans uses information we collected:<br>
        1.	To authorize or enable certain features on our agency and/or platform. <br>
        2.	To handle billing and payments, which may incorporate sharing data with a third-party payment platform. <br>
        3.	To resolve any disputes between clients and workers or between a user and the app, to execute rightful actions related to the disputes. <br>
        4.	To help us understand our client experience with our workers and make necessary actions and changes for better service. <br>
        5.	To subscribe to our emails and messages to clients with offers, information or other promotions. <br>
        6.	For client services <br>
        7.	To keep records <br>
        8.	For internal research and marketing purposes <br><br>
        We may share this information with third-parties like sponsors, advertisers, among others. Please inform us if you do not want to authorize us for the nominative of your information.<br>
        Information submitted by the clients may be published on Artisans website or app such as name, location, Facebook profile picture, and other photos shared. 
        We may also use other data we collected to share to other clients who would like to work with Artisans. For example, once a client confirms to hire a worker from Artisans, we may share specific location of other client’s home address.
    </div>
    <div>
        <h2>Privacy of Minors</h2>
        Artisans is designed for adults above 18 years of age and the platform is not meant to be used by minors under 18 years old.<br>
        Updating and Deleting your information<br>
        You can review, alter, and delete your information on Artisans platform. Send your request to use if you wish to close your account or remove any information from public view on the platform. 
        We may delete user or client information; however, we may keep data from accounts that we might need to settle occurring or future disputes like transaction information. You have the right to
         withdraw or request to block, remove or close your account.
    </div>
    <div>
        <h2>Policy changes</h2>
        THIS POLICY IS ONGOING AS OF THE EFFECTIVE DATE POSTED AT THE TOP OF THIS DOCUMENT. ARITSANS MAY CHANGE THIS POLICY AT ANY TIME. IF IN ANY CASE OUR POLICY IS CHANGED, 
        ARTISANS WILL POST ITS UPDATED POLICY ON THE APP OR WEBSITE AND NOTIFY USERS AND CLIENTS OF THE CHANGE. ARTISANS ENCOURAGES USERS AND CLIENTS TO REVIEW THIS POLICY 
        REGULARY FOR ANY CHANGES.
    </div>
    <div>
        <h2>Contact us:</h2>
        If you have any questions about the Privacy Policy or the Platform, please contact us by sending an email to our data privacy officer, Andrew Koger at <strong>ceo@msqassociates.com </strong>.
        
    </div>
</ion-content>
