<ion-header [translucent]="true">
    <div >
        <ion-img src="assets/images/service.png" class="service"></ion-img>
        <center>
            <div class="booking">
                <u>
                    <h2 ><b>{{service_booking}}</b></h2>
                </u>
                <h3><i>Service Booking</i></h3>
            </div>
        
        </center>
    </div>
</ion-header>

<ion-content>
    <ion-card class="cardContent">
        <ion-card-content>
            <section>
                <ion-icon name="person"></ion-icon>
                <span>{{name}}</span>
            </section>
            <section>
                <ion-icon name="time"></ion-icon>
                <span>{{updatedAt | date:'short'}}</span>
            </section>
            <section (click)="navigateToMap()" class="location">
                <ion-icon name="location"></ion-icon>
                <span>{{service_location}}</span>

            </section>
            <section>
                <ion-icon name="wallet"></ion-icon>
                <span>{{cost}}</span>
            </section>
            <section>
                <ion-icon name="mail-open"></ion-icon>
                <span>{{notes}}</span>
            </section>

        </ion-card-content>
    </ion-card>

    <ion-footer class="ion-no-border">
        <ion-toolbar class="toolbar">
            <section class="full-width">
                <button class="buttonAccept" (click)="closeModal()">Accept Job</button>
                <button class="buttonPass" (click)="pass()" >Pass</button>
            </section>
        </ion-toolbar>
    </ion-footer>

</ion-content>