@import "../../../global.scss";
* {
    font-family: lato;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

.menu-items {
    margin: 0px;
    ion-icon {
        margin-left: 8px;
        color: rgb(72, 76, 80);
        font-size: 18px;
    }
    .settings-header {
        background-color: rgb(233, 242, 243);
        font-size: 20px;
        color: rgb(151, 163, 163);
        padding: 10px;
        padding-left: 10px;
    }
    span{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(48, 46, 46);
    }
    ion-item {
        font-family: lato !important;
        padding-left: 0px;
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
        color:rgb(100, 91, 91);
       
    }
    ion-label {
        margin-left: 15px;
        font-weight: normal;
    }
}

.name {
    color: rgb(124, 115, 115);
    text-align: justify;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-right: 10%;
}

div {
    font-weight: lighter;
}
.settings {
    width: 50%;
}
.accountInfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    position: fixed;
    z-index: 10;
    margin-left: 60%;
    padding: 0;
    padding-top: 5%;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
h1, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-left: 30%;
}
p {
    font-size: 20px;
}
.account {
    display: none;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .accountInfo {
        display: none;
    }
    .account {
        display: block;
    }
    .settings {
        width: 100%;
    }
  }