@import "../../../global.scss";
* {
    font-family: lato;
}

ion-title {
    letter-spacing: 1.5px;
}

span {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

ion-icon {
    font-size: 18px;
    color: rgb(74, 140, 216);
    margin-right: 15px;
}

ion-card-subtitle {
    text-align: center;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #0968de;
    font-weight: bolder;
    text-align: center;
}

ion-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 5%;
    margin-top: 5%;
}

.footer {
    position: relative;
    float: right;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    to {
        transform: translate(0, -0px);
    }
}

.restText {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.toggleRest {
    width: 100%;
    height: 60%;
    text-align: center;
    margin-top: 28px;
}

.cardContent {
    width: 25%;
    float: left;
    text-align: center;
    margin: 3%;
    min-width: 300px;
}
.cardContent:hover {
    button {
        opacity: 1;
        background-color: rgb(255, 164, 164);
    }
}
.card {
    transition: 0.3s;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 9px #999;
}
.card:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.switch {
    position: fixed;
    display: inline-block;
    width: 45px;
    height: 24px;
    z-index: 10;
    margin: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 14px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input {
    outline: none;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tags {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 150px;
    margin-left: 119%;
    margin-bottom: 0;
    color: gray;
}

.buttonTop {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 9%;
    z-index: 10;
}
section {
    font-size: 18px;
    margin-bottom: 10px;
}

.status {
    color: $danger;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.warning {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: $warning;
    width: 93%;
}

.peso {
    color: rgb(74, 140, 216);
}

.toggle {
    font-weight: lighter;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 98%;
    height: 10%;
}

.statusCard {
    width: 50%;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#onGoingData {
    background-color: rgba(255, 102, 102, 0.5);
}
.peso {
    transition: .2s;
}
ion-icon {
    transition: .2s;
}
.sub-title {
    transition: .2s;
}
.title {
    transition: .2s;
}
button {
    padding: 10px;
    width: 10%;
    border-radius: 50%;
    outline: none;
    float: right !important;
    opacity: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#onGoingData:hover {
    background-color: rgb(255, 102, 102);
    color: white;
    .peso {
        color: white;
    }
    ion-icon {
        color: white;
    }
    .sub-title {
        color: white;
    }
    .title {
        color: white;
        font-style: italic;
    }
    button {
        opacity: 1;
        background-color: rgba(189, 189, 189, 0.685);
    }
}
.checkbox {
    float: right;
    margin-right: 5%;
    font-size: 20px;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: lighter;
}
 
.dropdownChoices {
    display: none;
}
.pending {
    background-color: rgba(250, 135, 135, 0.5);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cardContent {
        width: 100%;
        margin: 0;
    }
    .toggle {
        font-weight: lighter;
        position: fixed;
        z-index: 1;
        background-color: white;
        width: 98%;
    }
    .statusCard {
        width: 100%;
    }
    .dropdownChoices {
        display: block;
        float: right;
    }
    .checkbox {
        display: none;
    }
  }