@import "../../../global.scss";
* {
    font-family: lato;
}

ion-title {
    color: white;
    letter-spacing: 1.5px;
}

ion-label {
    color: black !important;
    font-size: 30%;
    ion-label {
        color: black !important;
        font-size: 30%;
        padding-top: 10px;
        font-weight: bolder;
    }
    font-weight: bolder;
}

.work {
    float: left;
}

.rest {
    float: right;
}

h1 {
    color: black;
    text-align: center;
}

hr {
    color: red;
}

.list {
    background-color: rgb(21, 160, 224);
    padding: 10px;
    ion-label {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
}

$left: 400px;
$top: 150px;
$min-circle-width: 0px;
$min-circle-height: 0px;
$max-circle-width: 70px;
$max-circle-height: 70px;
$icon-font-size: 20px;
h1{
  font-size: 18px;
  text-align: center;
  margin: 50px 0;
  font-weight: 100;
  font-family:"Open Sans", sans-serif;
  color: #444;
}
.circle{
  position: absolute;
  left: $left;
  top: $top;
  -webkit-animation: pulse 2s infinite ease-out;
  font-size: $icon-font-size;
  border-radius:50%;
  border: 1px solid rgba(255,0,0,0);
  span {
    position: absolute;
    left: 50%;
    margin-left: -($icon-font-size/2);
    color: #999;
    top: 50%;
    margin-top: -($icon-font-size/2);
  }
}


.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color:rgb(255, 81, 0);
}



@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }  
      
}