@import "../../../global.scss";
* {
    font-family: lato;
}

ion-title {
    color: white;
    letter-spacing: 1.5px;
}

.work {
    float: left;
}

.rest {
    float: right;
}

 ion-icon{
     font-size: 18px;
     color: rgb(74, 140, 216);
     margin-right: 3px;
 }

ion-card-title{
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    color: rgb(9, 123, 168);
}
ion-card-content{
    padding: 2%;
}

ion-item{
    font-size: 16px;
    color: rgb(80, 83, 87);
}
.footer{
    position: relative;
    left: 150px;
    font-size: 13px;
}
