@import "../../../global.scss";

.input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
  .ng-invalid:not(form):focus {
    border-bottom: 1px solid $danger !important; 
  }
.ng-valid[required], .ng-valid.required {
    border-bottom: 1px solid $success !important; /* red */ 
    border-radius: 0em;
  }

.login-header{
    text-align: center;
    position: relative;
    background-image: linear-gradient(to right, rgba(6, 170, 235, 0.5), rgba(49, 197, 255, 0.5), rgba(183, 235, 255, 0.5));
    border-radius: 0 0 100% 100%;
    padding: 10px;
}

.login-header:after{
    position: absolute;
    border:20px solid transparent;
    border-top-color:rgb(6, 170, 235);
    border-bottom: 0;
    margin-top:15px;
}

.logo {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #22bbea8f;
}
[heading-column-lr]{
    display:flex;
    -ms-flex-align:center;
    align-items: center;
    margin-bottom:35px;
    margin-top:5px;
    font-weight:bolder;
    font-family: cursive, Impact fantacy !important;
    font-style: oblique -3deg !important;
    letter-spacing: 3px;
}
[big-heading]{
    font-family: "Haebo-Bold" !important;
    font-size:30px !important;
    color:$dark;
    display:flex;
    margin-left:7%;
}

ion-content{
    --background:#fafafa;
}

ion-icon{
    width: 30px;
}

[linespace]{
    height: 30px;
}
.center{
    padding: 5%;
    height: 40%;
}
.ion-button-class:hover{ 
    font-weight:bolder !important;
    letter-spacing: 5px!important;
}
.logIn, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    font-weight: lighter;
}
.input-group-append {
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
}
.fa {
    color: #000;
}
input{
    width: 80%;
    color:#000; 
    padding:15px;
    font-size:16px;
    text-indent:1px;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
}
input:focus {
    outline: none;
}
.passwordForgot {
    width: 100%;
    text-align: center;
}
.input_user {
    border: none;
    border-bottom: 1px solid #000;
}
.input-group {
    margin: 0;
    margin-left: 10px;
}
li {
    margin-top: 10px;
    color: red;
    font-size: 15px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: fixed;
    z-index: 1;
    padding-bottom: 50px;
}
.card {
    border-radius: 10px;
    min-width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 7%;
    background-color: rgba(243, 243, 243, 0.9);
} 
.loginName {
    margin: 0;
    margin-bottom: 5px;
}
.leftText {
    position: fixed;
    min-width: 90%;
}
.leftImage {
    height: 100%;
    position: fixed;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card {
        width: 100%;
        margin: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);
    }
    h1 {
        padding: 0;
    }
    .loginName {
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .leftText {
        display: none;
    }
  }