<ion-header>
	<div class="login-header ion-padding">
		<img src="assets/images/logo.png" class="brand_logo" alt="Logo">
	</div>
</ion-header>
<ion-content>
	<div class="center">
		<div heading-column-lr>
			<h1 big-heading>Login</h1>
		</div>
		<form class="form_fields" #sampleForm="ngForm"><br>
			<div class="input-group mb-3">
				<div class="input-group-append">
					<span class="input-group-text"><i size="large" class="fa fa-envelope"></i></span>
				</div>
				<input class="form-control input_user" type="email" required name="email" [(ngModel)]="credentialsForm.email"
				 #email="ngModel" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
				
			</div>
			<div class="input-group mb-2">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-key"></i></span>
				</div>
				<input class="form-control" type="password" required name="password" [(ngModel)]="credentialsForm.password"
				 #password="ngModel" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
				
			</div>
			<div>
				<ion-label class ="label">
					<ion-checkbox color="secondary" slot="start"></ion-checkbox>&nbsp;&nbsp;Save Password
				</ion-label>
			</div>
			<!-- &nbsp;&nbsp;&nbsp; -->
			<div linespace></div>
			<ion-button class="ion-button-class" shape="round" fill="solid" size="large" expand="block"
			 (click)="onSubmit()" [disabled]="!sampleForm.form.valid">LOGIN</ion-button>
		</form>

		<div class="mt-4">
			<div class="d-flex justify-content-center links">
				Don't have an account? <a [routerLink]="['/register']" class="ml-2">Sign Up</a>
			</div>
			<div class="d-flex justify-content-center links">
				<a [routerLink]="['/forget-pass']">Forgot your password?</a>
			</div><br>
		</div>
	</div>
</ion-content>