<div style="background-image: url('assets/images/confetti.png')" class="login-header ion-padding">
	<div class="headerWrapper">
		<img src="assets/images/logo.png" class="brand_logo" alt="Logo">
		<h2>Ms. Q Associates</h2>
	</div>
</div>
<ion-content>
	<div class="center">
		<form class="form_fields" #sampleForm="ngForm"><br>
			<div class="input-group">
				<div class="input-group-append">
					<span class="input-group-text"><i size="large" class="fa fa-envelope"></i></span>
				</div>
				<input autocomplete="off" type="email" required name="email" [(ngModel)]="credentialsForm.email" #email="ngModel" placeholder="Email"
				 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />

			</div>
			<div class="input-group">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fa fa-key"></i></span>
				</div>
				<input type="password" required name="password" [(ngModel)]="credentialsForm.password" #password="ngModel"
				 placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
			</div><br>

			<div linespace></div>
			<ion-button class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="onSubmit()"
			 [disabled]="!sampleForm.form.valid">LOGIN</ion-button>
			<div class="passwordForgot">
				<a [routerLink]="['/forget-pass']">Forgot your password?</a>
			</div>
		</form>

		<div class="mt-4">
			<div class="d-flex justify-content-center links">
				Don't have an account? <a [routerLink]="['/register']" class="ml-2">Sign Up</a>
			</div>
		</div>
	</div>

</ion-content>