@import "../../../global.scss";


.input-group-text {
    background: rgb(20, 211, 245);
    color: $light !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    // border-radius:20px !important;
    // padding-right:25px;
    // margin-right:-10px;
}

input{
    color:#000;
    padding-bottom: 15px;
    padding-top:15px;
    --padding-start:5px;
    font-size:15px;
    text-indent:1px;
    padding-left:10px !important;
    border-radius:20px !important;
    // margin-left:-10px;
    // overflow:hidden !important;

}
.input-group{
}


// /* Portrait */
// @media screen 
//   and (min-device-width: 360px) 
//   and (max-device-width: 640px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//     .user_card {
//         width: auto;
//         margin-left: 5% !important;
//         margin-right: 5% !important;
//         margin-top: 25% !important;
//         margin-bottom: 20% !important;
//     }
// }

// /* Landscape */
// @media screen 
// and (min-device-width: 360px) 
// and (max-device-width: 640px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
//     .user_card {
//         margin: auto;
//         margin-top: 10% !important;
//         margin-bottom: 5%;
//     }
// }
.login-header{
    background-color: rgb(20, 211, 245);
}
.login-header{
    background-color: rgb(20, 211, 245);
    position: relative;
    border-radius: 0em;
}

.login-header:after{
    content: '';
    position: absolute;
    left:15%;
    width:0;
    height:0;
    border:20px solid transparent;
    border-top-color:rgb(20, 211, 245);
    border-bottom: 0;
    margin-left:-15px;
    margin-top:15px;

}

img{
    display :block;
    width:   120px;
    margin:0 auto;
    border-radius: 50%;
    background: linear-gradient(to right, #00ffff -8%, #0000ff 100%);
    border: 4px $solid $info;
    
}
[heading-column-lr]{
    display:flex;
    -ms-flex-align:center;
    align-items: center;
    margin-bottom:35px;
    margin-top:5px;
}
[big-heading]{
    font-family: "Haebo-Bold" !important;
    font-size:30px !important;
    color:$dark;
}

ion-content{
    --background:#fafafa;
}

// ion-input{
//     --color:#000;
//     --padding-bottom: 15px;
//     --padding-top:15px;
//     --padding-start:5px;
//     font-size:15px;
//     text-indent:1px;
//     padding-left:10px !important;
// }
ion-icon{
    width: 30px;
}
// ion-item{
//     --highlight-color-focused:transparent;
//     --highlight-height:0;
//     --highlight-color-invalid:#000;
//     --highlight-color-valid:#ddd;
//     --min-heght:65px;
//     --padding-start:0;

// }
[linespace]{
    height: 30px;
}
.center{
    margin-left:10px;
    margin-right:10px;
}

