@import "../../../global.scss";

.input-group-text {
    background: rgb(6, 170, 235);
    color: $light !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    border-top-left-radius:20px !important;
    border-bottom-left-radius:20px !important;
}

input{
    color:#000;
    padding-bottom: 20px;
    padding-top:15px;
    --padding-start:5px;
    font-size:15px;
    text-indent:1px;
    padding-left:10px !important;
    border-top-right-radius:20px !important;
    border-bottom-right-radius:20px !important;
    border: 5px solid rgb(6, 170, 235);
    background-color:transparent;
}

.form-control:focus{
    box-shadow:none;
    border-color:transparent;
    border: 5px solid rgb(6, 170, 235);
}
// .ng-valid[required], .ng-valid.required {
//     border: 5px solid rgb(20, 211, 245);
//   }
  .ng-invalid:not(form):hover {
    border-right: 3px solid $danger; /* red */
    border-top: 3px solid $danger; /* red */
    border-bottom: 3px solid $danger; /* red */
    background-color:rgba(255, 0, 0, 0.199);
  }


.login-header{
    background-color: rgb(6, 170, 235);
}
.login-header{
    background-color: rgb(6, 170, 235);
    position: relative;
    border-radius: 0em;
}

.login-header:after{
    content: '';
    position: absolute;
    left:15%;
    width:0;
    height:0;
    border:20px solid transparent;
    border-top-color:rgb(6, 170, 235);
    border-bottom: 0;
    margin-left:-15px;
    margin-top:15px;

}

img{
    display :block;
    width:   120px;
    margin:0 auto;
    border-radius: 50%;
    border: 4px solid #22bbea8f;
    box-shadow: 1px 1px 6px 10px $light
    
}
[heading-column-lr]{
    display:flex;
    -ms-flex-align:center;
    align-items: center;
    margin-bottom:35px;
    margin-top:5px;
    font-weight:bolder;
    text-shadow: 2px 2px rgb(6, 170, 235);
    font-family: cursive, Impact fantacy !important;
    font-style: oblique -3deg !important;
    letter-spacing: 3px;
}
[big-heading]{
    font-family: "Haebo-Bold" !important;
    font-size:30px !important;
    color:$dark;
    display:flex;
    margin-left:7%;
}

ion-content{
    --background:#fafafa;
}

ion-icon{
    width: 30px;
}

[linespace]{
    height: 30px;
}
.center{
    margin-left:10px;
    margin-right:10px;
}
.ion-button-class:hover{ 
    font-weight:bolder !important;
    letter-spacing: 5px!important; 
    text-shadow: 2px 2px solid rgb(6, 170, 235) !important;
    border:2px teal;
}
