#errorMsg {
    color: red;
    font-size: 15px;
}

#successMsg {
    color: green;
    font-size: 15px;
}

.help-block {
    margin-top: 10px;
    color: red;
    font-size: 15px;
}

p, button{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: oblique;
}
.reset_text {
    color: red;
}
h4 {
    font-weight: bold
}

.user_card {
    border: 2px solid rgb(6, 170, 235);
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}

.user_card1 {
    height: auto;
    max-height:800%;
    width: 375px;
    margin-top: 8%;
}

.email_card {
    max-height: 500%;
    height: auto;
    width: auto;
    max-width: 550px;
    margin-top: 1%;
}

.title_card {
    height: 100px;
    max-width: 350px;
}