@import "../../../global.scss";
* {
    font-family: lato;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}


.menu-items {
   
    margin-top: 10px;
    ion-icon {
        margin-left: 8px;
        color: rgb(72, 76, 80);
        font-size: 18px;
    }
  
    ion-item {
        font-family: lato !important;
        padding-left: 0px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        color:rgb(100, 91, 91);  

    }

    ion-label {
        margin-left: 15px;
        font-weight: normal;
    }

}
