.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    color: red;
    // transition: margin-right 2s, color 1s;
}

.my-message {
    background-color: var(--ion-color-primary);
    color: #fff;
}

.other-message {
    background-color: var(--ion-color-secondary);
    color: #fff;
    margin-left: 4%;
}

.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}

.message-input {
    margin-top: 0px;
    border: 1px solid rgb(11, 238, 219);
    border-radius: 20px;
    background: #fff;
    resize: none;
    width: 100%;
}

.iconButton {
    margin-top: 15% !important;
}

.icon {
    width: 400% !important;
}
