@import "../../../global.scss";
* {
    font-family: lato;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

.suki{
    width: 200px;
    height: 200px;
    margin-top: 15%;

}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(76, 107, 131);
    margin-bottom: 15%;
}   
span{
    background-color: rgba(22, 122, 180, 0.795);
    color: white;
    padding: 10px;
    padding-right: 30%;
    padding-left: 30%;
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    ion-card-content{
       margin: 0;
    }   
    .suki{
        margin-top: 0%;
    }
} 