<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">Suki</ion-title>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/settings']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <center> <img src="assets/images/suki.png" alt="" class="suki"></center>
        </ion-card-header>
        <center>
            <ion-card-content>
                <span class="ratingLabel">{{suki}} </span><br>
                <div class="content">
                    <h3>Customers Tagged You As Suki</h3>
                </div>

            </ion-card-content>
        </center>

    </ion-card>
</ion-content>