<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-title>Account Information</ion-title>
      <ion-buttons slot="start">
          <ion-back-button [routerLink]="['/settings']"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Name :
        <h2>{{userAccount.name}}</h2>
      Phone Number :
        <h2> {{userAccount.phone}}</h2>\
        <p>{{userAccount.selfie}}</p>
        
    </ion-card-content>
  </ion-card>
</ion-content>
