@import "../../../global.scss";
* {
    font-family: lato;
}

ion-title {
    color: white;
    letter-spacing: 1.5px;
}

ion-card{
    margin-top: 10%;
    padding:20px;
    // background-color: rgb(21, 160, 224);
    border-radius: 20px;
    box-shadow: 2px 4px 8px 2px rgba(20, 211, 245, 0.541);
    transition: 0.3s;
  
}
ion-card-content{
    color:black;
    h2{
        color:$secondary;
    }
}