@import "../../../global.scss";
* {
    font-family: lato;
}

ion-title {
    color: white;
    letter-spacing: 1.5px;
}

ion-card{
    margin-top: 10%;
    padding:20px;
  
}

h2{
    color: rgb(2, 96, 133);
    margin-left: 20px;
}