@import "../../../global.scss";
* {
    font-family: lato;
}


.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

ion-card{
    margin-top: 10%;
    padding:20px;
    // background-color: rgb(21, 160, 224);
    border-radius: 20px;
    box-shadow: 2px 4px 8px 2px rgba(48, 78, 83, 0.603);
    transition: 0.3s;
  
}

h2{
    color: rgb(73, 73, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    border-radius: 50%;
    width: 80%;
    height: 75%;
}
.imageColor {
    margin-left: 15px;
    border-radius: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 85%;
    height: 90%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/257/429/non_2x/abstract-shiny-blue-technology-background-vector.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.imageBackground {
    padding: 10px;
    text-align: center;
}
.borderColor {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 90%;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}