<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">History</ion-title>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/side-bar/finance']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="displays">
        <ul class="w3-ul w3-card-4">
            <li *ngFor="let value of arrayToRender" class="w3-display-container">You've accepted a {{
                value.service_booking }} that cost {{ value.cost }} at {{ value.service_location }}
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span>
            </li>
        </ul>
    </div>
</ion-content>